.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    color: rgb(238, 17, 17);
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
    
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    
  }

  .sidebar ul li:hover{
    background-color: #78e4e7;
    color:#ffffff;
  }
  
  .sidebar ul li a {
    color:grey;
    text-decoration: none;
    display: block;
    
  }
  